:root {
    --light: #513737;
    --medium: #371f1f;
    --dark: #271111;
    --gray: #806b6b;
    --white: #eee;
    --red: #c02929;
    --orange: #cb692d;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--light);
    color: #fff;
}

header {
    padding: 50px 25px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 25px;
}

#new-task-form {
    display: flex;
}

input, button {
    appearance: none;
    outline: none;
    background: none;
    border: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--medium);
    padding: 25px;
    border-radius: 5px;
    margin-right: 25px;
    color: var(--white);
    font-size: 20px;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    color: var(--red);
    font-size: 23px;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--red), var(--orange));
    /* this clips the gradient to text and makes background transparent */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.3;
}

#new-task-submit:active {
    opacity: 0.1;
}

main {
    flex: 1 1 0%;
    padding: 50px 25px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 25px;

}

.task-list h2 {
    font-size: 23px;
    font-weight: 500;
    color: var(--gray);
    margin-bottom: 25px;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--white);
    font-size: 18px;
    width: 100%;
    display: block;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--red);
    
}

#tasks .task .actions {
    display: flex;
    margin: 0 -15px;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.3;
}

.task .actions button:active {
    opacity: 0.1;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--red), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: rgb(130, 0, 0);
}